# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# npx auth secret
# https://next-auth.js.org/configuration/options#secret
# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# npx auth secret
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET="" # required (generate your own)

# Payload
PAYLOAD_SECRET="" # required (generate your own)

NEXT_PUBLIC_BASE_URL="http://localhost:3000/"
GENERATE_CONSTANTS="false" # leave this false otherwise you will have missing data

# Logs
DISCORD_ROLLUP_WEBHOOK_URL="" # optional

# Discord Auth
AUTH_DISCORD_ID="" # only required for discord auth
AUTH_DISCORD_SECRET="" # only required for discord auth
# Discord Bot
DISCORD_BOT_CLIENT_ID=""
DISCORD_BOT_TOKEN=""
DISCORD_BOT_PUBLIC_KEY=""
DISCORD_BOT_GUILD_IDS="" # comma separated list (use your server if you're testing bot development)


# Drizzle
DATABASE_URL=postgres://postgres:postgres@localhost:5432/sharply-dev

# Email
RESEND_EMAIL_FROM="" # optional (required if you want email auth)
RESEND_EMAIL_CONTACT="" # optional (defaults to RESEND_EMAIL_FROM if unset)
RESEND_API_KEY="" # optional (required if you want email auth)


# Vercel
CRON_SECRET="" # optional (generate your own)

# OpenAI
OPENAI_API_KEY="" # optional

# UploadThing
UPLOADTHING_TOKEN="" # optional

# Google
AUTH_GOOGLE_ID="" # optional
AUTH_GOOGLE_SECRET="" # optional

